.App {
  width: min(87.2%, 1110px);
  margin: auto;
  padding: 120px 0;
}

.btn-clear {
  position: relative;
  font-size: 1rem;
  color: var(--secondary);
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
}
.btn-clear::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 400%);
  width: 80%;
  height: 2px;
}

.btn-clear:hover,
.btn-clear:focus {
  color: var(--primary);
}

.btn-clear:hover::after,
.btn-clear:focus::after {
  color: var(--primary);
  background: var(--primary);
}

@media (min-width: 768px) {
  .App {
    padding: 74px 0;
  }
}