.JobsFilterItem {
  color: var(--primary);
  font-weight: 700;
  letter-spacing: -0.035em;
  
  background: var(--tag-bg);
  padding-left: 0.59em;
  border-radius: .5em;
  
  display: flex;
  align-items: center;
  gap: .5em;
}

.JobsFilterItem__btn {
  display: grid;
  place-items: center;
  
  background: var(--primary);
  width: 2.37em;
  height: 2.37em;
  
  border: none;
  border-end-end-radius: .5em;
  border-start-end-radius: .5em;
  cursor: pointer;
}

.JobsFilterItem__btn:hover {
  background: var(--important);
}